# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/*.spv

# Gradle wrapper
**/.gradle
**/.gradle-user-home
gradle-daemon-jvm.properties

# Android
**/android/app/build
**/android/build
**/android/local.properties

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# AI agents
.claude
CLAUDE.md

# binaries
/01_version/01_version
/02_info/02_info
/03_draw/03_draw
/04_triangle/04_triangle
/05_cube/05_cube
/06_model/06_model
/07_model_textured/07_model
/07_model_textured/07_model_textured
/08_kosmic_krisp/08_kosmic_krisp
/11_ray1/10_ray1
/11_ray1/11_ray1
/12_ray2/12_ray2
/13_ray3/13_ray3
